<a href="https://colab.research.google.com/github/brij0707/Pattern-Programs-logic/blob/main/Pattern_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**[Don't Forget to Like and Follow the Youtube Channel @TheInnomind](https://www.youtube.com/@TheInnomind)**

[![Innomind Logo](https://raw.githubusercontent.com/brij0707/Pattern-Programs-logic/main/images/INNOMIND%20logo.png "Innomind Logo")](https://raw.githubusercontent.com/brij0707/Pattern-Programs-logic/main/images/INNOMIND%20logo.png "Innomind Logo")

# Pattern Programs Logic

 Before starting this concept lets learn something about matrix. Matrix is a 2D or 3D cuboidal structure. Matrix, a set of numbers arranged in rows and columns so as to form a rectangular array. The numbers are called the elements, or entries, of the matrix.

## Position of an element in a matrix
[![matrix position](https://raw.githubusercontent.com/brij0707/Pattern-Programs-logic/main/images/MatrixLabelled.svg.png "matrix position")](https://raw.githubusercontent.com/brij0707/Pattern-Programs-logic/main/images/MatrixLabelled.svg.png "matrix position")

### Mechanism of for loop

In [2]:
# print 0 to 4
for i in range(0,5):
  print(i)

0
1
2
3
4

In [4]:
# print 4 stars
for i in range(0,5):
  print('*')

*
*
*
*
*

### Observation
All the output are being done in separate lines, meaning as the loop value exahusts , line changes

In [13]:
# print 0 to 4
for i in range(0,5):
  print(i,end='')

# in JAVA u use system.out.print and println for line change

01234

In [7]:
print('a','b','c')

a b c

In [9]:
print('a','b','c',end='')

a b c

In [14]:
# lets see various combinations of these formattings in case of a list
mylist=[1,2,3,4,5]
for i in mylist:
  print(i)
  #print(i,end='') # print without space
  #print(i,end=' ') # print with space
  #print(*mylist) # print horizontally using iterable unpacking

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [25]:
## Nested for loop
for i in range (0,3):
  for j in range(3,6):
    print("this is j ", j)
  print('this is i ',i)

this is j  3
this is j  4
this is j  5
this is i  0
this is j  3
this is j  4
this is j  5
this is i  1
this is j  3
this is j  4
this is j  5
this is i  2

In [29]:
## Nested for loop
for i in range (0,3):
  for j in range(3,6):
    print(j,end='')
  print('\n') #escape sequence

345

345

345

### Printing a square of stars

[![pattern](https://raw.githubusercontent.com/brij0707/Pattern-Programs-logic/main/images/pattern.jpg "pattern")](https://raw.githubusercontent.com/brij0707/Pattern-Programs-logic/main/images/pattern.jpg "pattern")

In [ ]:
## square pattern
for i in range (0,5):
  for j in range(0,5):
    print('*',end=' ')
  print('\n') # escape sequence

* * * * *

* * * * *

* * * * *

* * * * *

* * * * *

In [30]:
## left star pattern
for i in range (0,5):
  for j in range(0,i):
    print('*',end=' ')
  print('\n') # escape sequence

*

* *

* * *

* * * *

In [32]:
# left star pattern upside down
for i in range (0,5):
  for j in range(5,i,-1):
    print('*',end=' ')
  print('\n') # escape sequence

* * * * *

* * * *

* * *

* *

*

In [56]:
# What if we merged above two codes

In [33]:
# ??
for i in range (0,5):
  for j in range(4,i,-1):
    print(' ',end=' ')
  print('*')
  print('\n') # escape sequence

        *


      *


    *


  *


*

In [41]:
# left star pattern upside down
for i in range (0,5):
  for j in range(4,i,-1):
    print(' ',end=' ')
  for k in range (0,i):
    print('* ',end='')
  print('\n') # escape sequence

      *

    * *

  * * *

* * * *

In [43]:
# string * number
print("*" * 4)

****

In [42]:
for i in range(0,5):
  print(" " * (5- i) +"*" * i)

    *
   **
  ***
 ****

In [50]:
# half upper diamond pattern
for i in range(0,5):
  for j in range(5,i,-1):
    print(' ',end='')
  for k in range(0,i+1):
    print('* ',end='')
  print('\n')

     *

    * *

   * * *

  * * * *

 * * * * *

In [ ]:
# can we print in 1 line??

In [51]:
for i in range(0,5):
  print(" " * (5-i) +"* " * i)

    *
   * *
  * * *
 * * * *

### Replacing Star with number or alphabet

In [52]:
## square pattern
for i in range (0,5):
  for j in range(1,6):
    print(j,end=' ')
  print('\n') # escape sequence

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

1 2 3 4 5

In [53]:
## left star pattern
for i in range (0,5):
  for j in range(0,i):
    print(j,end=' ')
  print('\n') # escape sequence

0

0 1

0 1 2

0 1 2 3

In [54]:
# left star pattern upside down
for i in range (0,5):
  for j in range(5,i,-1):
    print(j,end=' ')
  print('\n') # escape sequence

5 4 3 2 1

5 4 3 2

5 4 3

5 4

5

#### what is ASCII code?

In [60]:
num = 65
print (num)
#print(chr(num)) # this is type casting/ data type changing

65
A

In [63]:
## left star pattern
num=65
for i in range (0,5):
  for j in range(0,i):
    print(chr(num),end=' ')
    num=num+1
  print('\n') # escape sequence
  #num=65

A

B C

D E F

G H I J

In [65]:
## left star pattern
for i in range (65,70):
  for j in range(65,i):
    print(chr(j),end=' ')
  print('\n') # escape sequence

A

A B

A B C

A B C D